<%- include('header') %>
    <%- include('nav') %>
        <div class="form_div">
            <form action="/analytics/" method="post">
                <input type="text" name="id" id="id">
                <button type="submit">send analytics</button>
            </form>
        </div>
        <%- include('footer') %>