<%- include('header') %>
  <%- include('nav') %>
    <div class="form_div">
      <form action="/url" method="post">
        <input type="url" name="url" id="url">
        <button type="submit">Generate</button>
      </form>
    </div>
    <%- include('footer') %>